version: "3.8"

services:
  mongo:
    image: mongo:7.0
    container_name: "ge-platform-mongodb"
    environment:
      MONGO_INITDB_ROOT_USERNAME: vaadin
      MONGO_INITDB_ROOT_PASSWORD: vaadin
    ports:
      - 27017:27017
    volumes:
      - ./mongodata:/data/db
volumes:
  mongodata:
    driver: local

  #mongodb:
   # image: mongo:latest
    #container_name: "ge-platform-mongodb"
    #environment:
    #  MONGO_INITDB_ROOT_USERNAME: vaadin
    #  MONGO_INITDB_ROOT_PASSWORD: vaadin
    #  MONGO_INITDB_DATABASE: geplatform_core
    #ports:
    #  - "27017:27017"
    #volumes:
    #  - ./init-mongo.js:/docker-entrypoint-initdb.d/mongo-init.js
    #  - ./mongo-volume:/data/db
